@import url("https://fonts.googleapis.com/css2?family=Changa&family=PT+Sans+Narrow&display=swap");

html,
body {
  box-sizing: border-box;
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
}
.slick {
  margin: 2em auto;
  width: 90%;
}

.slick-review {
  margin: 0 auto;
  width: 80%;
}

.slick-dots li button::before {
  font-size: 16px;
  color: #fff !important;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}
